.container {
  width: 100%;
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 0 $padding-offset;

  @include viewport-tablet {
    max-width: $desktop-width;
  }
}

.container__inner {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include viewport-desktop {
    gap: 53px;
  }
}
