.header {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $accent-color;
  color: $white-color;
}

.header__link,
.header__phone {
  text-decoration: none;
  color: inherit;
}

.header__link {
  letter-spacing: calc(14px * 0.04);
}
