.section {
  padding-top: 20px;
  padding-bottom: 20px;

  @include viewport-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include viewport-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section__slider {
  display: grid;
  gap: 25px;

  @include viewport-tablet {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "title  navigation"
      "slider slider";
  }

  @include viewport-desktop {
    gap: 53px;
  }
}

.section__title {
  @include viewport-tablet {
    display: flex;
    align-items: center;
    grid-area: title;
  }
}

.section__swiper {
  width: 100%;

  @include viewport-tablet {
    display: grid;
    grid-area: slider;
  }
}

.section-swiper__navigation {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  column-gap: 4px;

  @include viewport-tablet {
    display: grid;
    grid-area: navigation;
  }
}

.section-swiper__button {
  width: 37px;
  height: 35px;
  padding: 0;
  border: 0;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
  }

  &--disabled {
    background-color: $disabled-color;
    cursor: unset;
  }
}

.section-swiper__button svg {
  width: 14px;
  height: inherit;
}
