.title {
  position: relative;
  margin: 0;
  padding: 0;

  &--decoration {
    display: flex;
    align-items: center;
    height: 55px;
  }

  &--decoration::before {
    content: attr(data-title);
    position: absolute;
    top: 3px;
    font-size: 26px;
    line-height: 26px;
    opacity: 0.03;

    @include viewport-tablet {
      top: 5px;
      font-size: 40px;
      line-height: 40px;
    }

    @include viewport-desktop {
      font-size: 55px;
      line-height: 55px;
    }
  }

  &--md {
    font-size: 22px;
    line-height: 22px;
    font-weight: 800;

    @include viewport-tablet {
      font-size: 25px;
      line-height: 25px;
    }

    @include viewport-desktop {
      font-size: 35px;
      line-height: 35px;
    }
  }

  &--sm {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    @include viewport-tablet {
      font-size: 18px;
      line-height: 18px;
    }

    @include viewport-desktop {
      font-size: 21px;
      line-height: 21px;
    }
  }

  &--xs {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;

    @include viewport-tablet {
      font-size: 13px;
      line-height: 13px;
    }
  }
}
