:root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
}

.tours-swiper {
  display: grid;
  grid-area: slider;
  width: 100%;
}

.tours-swiper__navigation {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  column-gap: 4px;
  grid-area: navigation;

  @include viewport-tablet {
    display: grid;
  }
}

.tours-swiper__button {
  width: 37px;
  height: 35px;
  padding: 0;
  border: 0;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
  }

  &--disabled {
    background-color: $disabled-color;
    cursor: unset;
  }
}

.tours-swiper__button svg {
  width: 14px;
  height: inherit;
}
