.tours {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 595px;
    background-image:
      image-set(
        url("../../img/tours/clouds-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/tours/clouds-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/clouds-mobile@1x.png") type("image/png") 1x,
        url("../../img/tours/clouds-mobile@2x.png") type("image/png") 2x
      );
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @include viewport-tablet {
      top: -92px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/tours/clouds-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/tours/clouds-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/tours/clouds-tablet@1x.png") type("image/png") 1x,
          url("../../img/tours/clouds-tablet@2x.png") type("image/png") 2x
        );
      background-position-y: top;
      background-size: auto;
    }

    @include viewport-desktop {
      top: -126px;
      background-image:
        image-set(
          url("../../img/tours/clouds-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/tours/clouds-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/tours/clouds-desktop@1x.png") type("image/png") 1x,
          url("../../img/tours/clouds-desktop@2x.png") type("image/png") 2x
        );
      background-position-y: top;
      background-size: auto;
    }
  }
}

.tours__title {
  padding-top: 2px;

  @include viewport-tablet {
    padding-top: 10px;
  }

  @include viewport-desktop {
    padding-top: 25px;
  }
}

.tours__link {
  display: inline-flex;
  align-items: center;
  align-self: center;
  padding: 10px 9px 10px 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color;

  @include viewport-tablet {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: calc(16px * 0.04);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 14px;
    margin-left: 12px;
    background-color: $text-color;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}
