.tour-geo {
  display: inline-flex;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $white-color;
  background-color: $accent-color;
}

.tour-geo span {
  // display: inline-block;
}
