.training__header p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.training__title {
  margin-bottom: 18px;
}

.training__slider h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
}
